@import '../../assets/styles/text.scss';
@import '../../assets/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-1 {
  font-weight: map-get($font-weight, 'bold');
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
